/* nav.html */
.navbar {
    background-color:#e6afa8;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff !important;
}
.nav-link {
    color: #fff !important;
    font-weight: 500;
}
.nav-link:hover {
    color:#a37974 !important;
}
.cart-icon {
    position: relative;
}
.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #dacdbc;
    color: #000;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 50%;
}
/* _______________________________________________________________________________________________________________ */
/* menu.html */
body {
  background: linear-gradient(135deg,#ebd8c9 0%,#f6efe9 100%);
  font-family: "Poppins", Arial, sans-serif;
  color: #fff;
}

/* Title of menu */
.page-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  letter-spacing: 4px;
  font-size: 28px;
  font-weight: 800;
  color: #fff;
  text-shadow: 0 0 10px #d1928b;
}

/* Product cards */
.product-card {
  border-radius: 18px;
  overflow: hidden;
  text-align: center;
  padding: 15px;
  background-color: #e6afa8;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
  box-shadow: 0 8px 16px #d1928b;
  opacity: 0;
  border: 1px solid #d1928b;
}

.product-card.show { opacity: 1; }
.product-card:hover { transform: translateY(-10px) scale(1.05); box-shadow: 0 18px 30px #d1928b; border-color: #d1928b; }

.product-img { width: 100%; height: 260px; object-fit: cover; border-radius: 12px; transition: transform 0.3s ease; }
.product-card:hover .product-img { transform: scale(1.07); }

.product-name { font-size: 17px; font-weight: 700; color: #fff; min-height: 50px; margin-top: 12px; transition: color 0.3s ease; }
.product-card:hover .product-name { color: #996c67; }

.product-price { font-size: 15px; margin-top: 5px; color: #d6d6d6; }

.select-btn { margin-top: 12px; background: #d1928b; border: none; padding: 10px 18px; font-weight: 700; font-size: 14px; border-radius: 10px; cursor: pointer; color: #131212; transition: background 0.3s ease, transform 0.2s ease; }
.select-btn:hover { background: #996c67; transform: scale(1.08); }

/* Filter buttons */
#filter-buttons { margin-top: 15px; margin-bottom: 25px; display: flex; justify-content: center; flex-wrap: wrap; gap: 12px; }
.filter-btn { background: transparent; border: 2px solid #996c67; color:#996c67; padding: 8px 20px; border-radius: 30px; font-weight: 600; font-size: 14px; transition: 0.3s ease; letter-spacing: 1px; }
.filter-btn:hover { background: #996c67; color: #ffffff; transform: translateY(-3px); }
.filter-btn.active { background: #996c67; color: #f7f5f5; box-shadow: 0 0 15px #d1928b; }
